@media screen and (min-width: 992px) {
  #target h1,
  #target p {
    padding-left: 33.33%;
  }
  #job-info,
  #certificate,
  #project {
    padding-left: 16.66%;
    padding-right: 16.66%;
  }
}
